@import '../../App.scss';

.login_form {
    border:1px solid #fff;
    margin:5rem auto;
    max-width:500px;
    padding:3em;

    div {

        display: flex;
        flex-direction: column;

        &:first-of-type {
            margin-bottom:1em;
        }


        label {
            display: block;
            font-size:1.2em;
            margin-bottom:0.25em;
        }

        input {
            font-size:1.2em;
            padding:0.5em;

            &[type="submit"] {
                background-color: $gold;
                margin-top:1em;
            }


        }

    }


}