@import '../../assets/styles/styles';
@import "../../assets/styles/common/vars.scss";
@import "../../assets/styles/common/mixins.scss";

.hamburger_button {

    background:none;
    border:0;
    color:#fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0;
    position:relative;
    z-index:99;

    @include min-lg {
        font-size: 1.3rem;
        width:70px;
    }

    &:hover {
        color: $gold;
    }

}