@import '../../assets/styles/styles';

.hamburger_button {

    background:none;
    border:0;
    color:#fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0;
    position:relative;
    width:70px;
    z-index:99;

    &:hover {
        color: $gold;
    }

}