@import '../../assets/styles/styles';
@import "../../assets/styles/common/mixins";

.card {

    position: relative;
    text-align: center;

    img {
        width: 100%;
    }

    h3 {
        font-size: 1.1em;
        font-weight: 100;
        letter-spacing: 5px;

        @include min-xl {
            font-size: 1.3em;
        }

    }

    svg {
        height: auto;
        width: 60%;

        @include min-xl {
            width: 80%;
        }

    }

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top:0%;
        width: 100%;
    }

    &:hover {

        h3 {
            color:$gold;
        }
    }

}