@import '../../assets/styles/styles';

.nav  {
  background-color: black;
  height: 100%;
  inset: 0 0 0 auto;
  opacity: 0;
  position: fixed;
  width:100%;
  z-index: 9;
  transition: 0.5s all ease;
  visibility: hidden;

  @media(min-width:992px) {
    width:30vw;
  }

  &--open {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all ease;
  }

  ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 100;
    justify-content: flex-end;
    letter-spacing: 4px;
    margin:10rem 2rem;
  
    li {
      list-style: none;
      margin: 0.5em 0;
  
      a {
        color: #fff;
        font-size: clamp(1em, 10vw, 1.2em);
        text-decoration: none;
  
        &:hover,
        &.active {
          color: $gold;
        }
  
      }
  
    }
  
  }

}
