@import '../../../assets/styles/styles';

.spotify_container.spotify_container--header {
    padding-bottom:0!important;
}

.spotify_header {
    align-items: baseline;
    border-bottom:1px solid $spotify_green;
    display: flex;
    justify-content: space-between;
    gap:2em;
    padding-bottom:1em;

    &--left,
    &--right {
        align-items: center;
        display: flex;
        gap:1.5rem;
    }

    &--left {
        flex-basis: 60%;

        img {
            background-color: $spotify_green;
            border-radius: 50%;
        }

    }

    &--right {
        align-items: center;
        display: flex;
    }

    h1 {
        font-size:clamp(1em, 10vw, 4em);
        margin:0;
    }

    p {
        margin:0;
    }

    a {
        color:#fff;
    }

}