@import '../../../App.scss';

.spotify_playlist {
    display: flex;
    margin: auto;
    max-width:900px;
    gap:5em;

    &__info {
        max-width:350px;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }

    }

    &__tracks {
        overflow: auto;
        max-height:60dvh;

           /* width */
           &::-webkit-scrollbar {
            width: 3px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #fff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $gold;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $gold;
        }

    }

    &__track {
        display: flex;
        margin-bottom:1.25em;
        gap:1em;
    }

    &__desc {
        font-size:1.2em;
        margin-block: 1em;
    }

    a {
        color:$gold;
        text-decoration: none;
    }

}