@import '../../../assets/styles/styles';

.spotify_login {
    display: flex;
    min-height: calc(100vh - 180px);
    min-height: calc(100dvh - 180px);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        > div {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap:5em;
        }

    }

    .spotify_icon {
        display: block;
        height: auto;
        margin:auto;
        width:250px;
    }

    a.spotify_login_btn {
        background-color: $spotify_green;
        border:0;
        border-radius: 10px;
        color:#fff;
        display: inline-block;
        font-size:1em;
        padding:0.75em 3em;
        text-decoration: none;
        text-align:center;

        &:hover {
            background-color: darken($spotify_green, 8);
            cursor: pointer;
        }

    }

    p {
        font-size:0.9em;
        margin-block: 1.5em 0;
        text-align:center;
    }


}

.theme_light {

    .spotify_login { 
        svg {
            path {
                fill: #000;
            }
        }
    }

    a.spotify_login_btn {
        background-color: #000;

    }

}
