@import "../../assets/styles/common/mixins.scss";

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding:1em 2em;

    a {
        text-decoration: none;
    }

    .header__logo {
     
        a {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        span {
            display: none;
           
            @media(min-width:460px) {
                display: block;
                font-size:1.1rem;
                font-weight: 100;
                letter-spacing: 5px;
            }

            @include min-lg {
                font-size:1.5rem;
            }

        }

        span {
            color:#fff;
            text-decoration: none;
        }

        .App-logo {
            width: 60px;

            @include min-lg {
                width: 100px;
            }

          }

    }

    .header__buttons {
        display: flex;

        .contrast_button {
            display: none;
        }

        .hamburger_button {
            margin-left:2.5em;
        }

    }

}

h1 {
    font-size:2em;
    font-weight: 100;
}