@import './assets/styles/styles';
@import './assets/styles/common/mixins';

body {
  background: linear-gradient(63deg, rgba(40,49,59,1) 12%, rgba(72,84,97,1) 82%);
  color:#fff;
   min-height: 100dvh;
  transition:0.5s background-color ease;
}

#root {
  min-height:100vh;
  min-height: 100dvh;
}

.App__main {
  min-height: calc(100dvh - 103px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:3em 0;

  // @include min-md {
  //   padding:0 3em;
  // }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-inline: auto;
  max-width:1200px;
  padding: 4em 2em;
}

p {
  font-size:1.1em;
  line-height: 1.6em;
  margin:0 0 1em 0;

  &:last-child {
    margin-bottom: 0;
  }

}

.theme_light {
  // background-color: #fff;
  background: linear-gradient(63deg, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 50%);
  color:#282c34;
  transition: 0.5s background-color ease;

  header .header__logo span {
    color:#282c34;
  }

  .nav {
    background-color: #e0e0e0;

    * {
      color: $black ;
    }

  }

  .hamburger_button,
  .contrast_button,
  .accordion__button  {
    color: $black ;
  }

  .home_grid {
    .card {
      svg {
        path {
          fill:$black ;
          stroke: $black ;
        }


      }
    }
  }

}